<launch>

  <!-- Debug 설정 -->
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- 중복 필수 파라미터들 -->
  <param name="speed_to_erpm_gain" value="1017.7" />
  <param name="speed_to_erpm_offset" value="0.0" />
  <param name="steering_angle_to_servo_gain" value="1.469" />
  <param name="steering_angle_to_servo_offset" value="0.5" />

  <!-- Ackermann to VESC node -->
  <node pkg="vesc_ackermann" type="ackermann_to_vesc_node" name="ackermann_to_vesc_node"
        output="screen" launch-prefix="$(arg launch_prefix)" >
  </node>

  <!-- 필수 파라미터들 -->
  <param name="wheelbase" value="0.20" />
  <param name="center_of_mass_offset" value="0.10" />
  <!-- 선택 파라미터 -->
  <param name="odom_frame" value="odom" />
  <param name="base_frame" value="base_link" />
  <param name="use_servo_cmd_to_calc_angular_velocity" value="true" />
  <param name="publish_tf" value="false" />

  <!-- VESC to Odom node 실행 -->
  <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom_node"
        output="screen" launch-prefix="$(arg launch_prefix)" />

</launch>
