<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- node name="control" pkg="lane_detection" type="control.py" / -->
	
	<node name="bev_image" pkg="virtual_contest" type="bev_image.py" output="screen" />
	
	<node name="stop_line_detection" pkg="virtual_contest" type="stop_line_detector.py" output="screen"/>

	<node name="traffic_stop_node" pkg="virtual_contest" type="traffic_stop_node.py" output="screen"/>
	
	<node name="cam2d_cali" pkg="virtual_contest" type="2d_cam_cali.py" output="screen"/>
	
</launch>
